html,
body,
img {
  margin: 0;
  padding: 0;
}

.ml8 {
  margin-left: 8px !important;
}

.ml16 {
  margin-left: 16px !important;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gray,
.gray:hover {
  color: #828a92;
}

.ctn {
  width: 100%;
  margin: 0;
  padding: 0;
}

.ctn1170 {
  width: 1170px;
  margin: 0 auto;
}

.ctn-nav {
  -webkit-box-shadow: 0 2px 6px #333333;
          box-shadow: 0 2px 6px #333333;
}

.nav {
  list-style: none;
  padding: 8px 8px;
  margin: 0;
}

.nav-right {
  margin-left: auto !important;
}

.nav li {
  float: left;
  padding: 0 8px;
}

.nav li > a {
  line-height: 36px;
  float: left;
  padding: 0 8px;
  text-decoration: none;
  color: #606060;
}

.nav li > a:visited,
:active,
:link {
  text-decoration: none;
}

.nav li > a:hover {
  -webkit-text-decoration: red;
          text-decoration: red;
}

.nav-logo {
  width: 44px;
  height: 36px;
}

.footer {
  background: #2d3237;
}

.ft-ls {
  list-style: none;
}

.ft-ls li > a {
  color: gray;
}

.ft-ls li > a:hover {
  color: white;
}

.copyright {
  font-size: .8rem;
  padding: 8px;
  color: white;
  text-align: center;
}

.ctn-main {
  width: 820px;
  margin: 0;
}

.ctn-center {
  margin: 0 auto;
}

.ctn-side {
  width: 320px;
  margin-left: auto;
}

.ctn-home-top {
  padding: 16px 8px 8px 8px;
}

.home-title {
  padding: 8px 8px 16px 8px;
  font-weight: bold;
  color: gray;
}

.ctn-list-item {
  position: relative;
  padding: 0 8px 16px 8px;
  margin: 0;
}

.ctn-list-item .title {
  font-weight: bold;
  font-size: 1.3rem;
  color: #3d464d;
}

.ctn-list-item .content {
  color: #828a92;
}

.ctn-list-item .foot {
  width: 100%;
  font-size: .9rem;
  color: #828a92;
  position: absolute;
  bottom: 22px;
}

.right {
  position: absolute;
  right: 16px;
}

.bg-gray {
  background: #f0f0f0;
}

.ctn-login {
  padding: 16px 0;
}

