html,
body {
  margin: 0;
  padding: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ctn {
  width: 100%;
}

.ctn1200 {
  width: 1200px;
  margin: 0 auto;
}

.ctn-nav {
  -webkit-box-shadow: 0 2px 6px #333333;
          box-shadow: 0 2px 6px #333333;
}

.nav {
  list-style: none;
  padding: 8px 8px;
  margin: 0;
}

.nav-right {
  margin-left: auto !important;
}

.nav li {
  line-height: 36px;
  float: left;
  padding: 0 8px;
}

.nav li a {
  line-height: 36px;
  float: left;
  padding: 0 8px;
  display: inline;
}

.nav-logo {
  width: 44px;
  height: 36px;
}

.footer {
  background: #2d3237;
}

