@import "../variables";
// Nav
.ctn-nav {
  box-shadow:0 1px 3px 0 rgba(0,34,77,.1);
  z-index: 100;
  background: white;
}

.nav {
  list-style: none;
  padding: 10px;
  margin: $no;
}

.nav-right {
  margin-left: auto !important;
}

.nav li {
  float: left;
  padding: 0 24px 0 0;
}

.nav-right li {
  float: left;
  padding: 0 0 0 24px;
}

.nav li > a {
  line-height: $nav-line-height;
  font-size: 1.1rem;
  float: left;
  padding: $no $px8;
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.nav li > a:visited, :active, :link {
  text-decoration: none;
}

.nav li > a:hover {
  color: $theme-color;
}

.nav-logo {
  width: 100px;
  height: 36px;
  margin: 0 32px -4px -8px
}