@import "variables";

.recommend-today{
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  background: white;
  color: #2c3033;
  div {
    padding: 0 8px ;
    border-left: $theme-color solid 8px;
  }
  ul {
    padding: 8px 0 0;
    margin: 0;
    list-style: none;
    line-height: 1.8;
    li > a {
      color: gray!important;
    }
    li > a:hover {
      color: $theme-color!important;
    }
  }
}

.ad-activity{
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  background: white;
  a > img {
    width:100%
  }
}