@import "variables";

html,body,img,hr {
  margin: $no;
  padding: $no;
}

p {
  margin-top: 0;
  margin-bottom: 8px;
}

.center {
  text-align: center;
}

.m8 {
  margin: 8px!important;
}

.ml8 {
  margin-left: 8px!important;
}

.ml16 {
  margin-left: 16px!important;
}

.m16 {
  margin: 16px!important;
}

.mtb16 {
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}

.mb16 {
  margin-bottom: 16px!important;
}

.p16 {
  padding: 16px!important;
}

.pbt16 {
  padding-bottom: 16px!important;
  padding-top: 16px!important;
}

.plr32 {
  padding-left: 32px!important;
  padding-right: 32px!important;
}

.p8 {
  padding: 8px!important;
}

.pb16 {
  padding-bottom: 16px!important;
}

.ptb16 {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
}

.plr16 {
  padding-left: 16px!important;
  padding-right: 16px!important;
}

.row {
  display: flex;
}

.gray, .gray:hover {
  color: #828a92;
}

.ctn {
  width: $full;
  margin: $no;
  padding: $no;
}

.ctn1170 {
  width: $max-width;
  margin: $center-margin;
}

// Nav
@import "layouts/nav";

// Footer
@import "layouts/footer";

.ctn-main {
  width: 820px;
  margin: 0;
}

.ctn-center {
  margin: 0 auto;
}

.ctn-side {
  width: 320px;
  margin-left: auto;
}

.ctn-home-top {
  padding: 16px 8px 8px 8px;
}

.home-title {
  padding: 8px 8px 16px 8px;
  font-weight: bold;
  color: gray;
}

.comment-item {
  position: relative;
  padding: 0 8px 8px 0;
  margin:0;
}
.comment-item > .title {
  font-weight: bold;
  font-size: 1.3rem;
  color: #3d464d;
}
.comment-item > .content {
  color: #828a92;
}
.comment-item > .foot {
  width: 100%;
  font-size:.9rem;
  color: #828a92;
}

.ctn-list-item {
  position: relative;
  padding: 0 8px 16px 8px;
  margin:0;
}
.ctn-list-item > .title {
  font-weight: bold;
  font-size: 1.3rem;
  color: #3d464d;
}
.ctn-list-item > .content {
  color: #828a92;
}
.ctn-list-item > .foot {
  width: 100%;
  font-size:.9rem;
  color: #828a92;
  position: absolute;
  bottom: 22px;
}

.relative {
  position: relative;
}

.right {
  position: absolute;
  right: 16px;
}

.bg-gray {
  background: #f0f0f0;
}

.bg-white {
  background: #ffffff;
}

.ctn-login {
  background: white;
  padding: 16px;
  border-radius: 10px;
  min-width: 800px;
}

.ctn-login > .login {
  background: white;
  padding: 16px;
  width: 400px;
}

.login > form > .row > label {
  width: 88px;
}

.login > form > .row {
  line-height: 40px;
}

.detail-title {
  margin-top: 8px;
  margin-bottom: 8px;
}