@import "variables";

html, body, hr {
  margin: $no;
  padding: $no;
}

img {vertical-align: middle;horiz-align: center}

body {
  background: #f8f8f8;
}

p {
  margin-top: 0;
  margin-bottom: 8px;
}

a {
  color: rgb(51, 51, 51);
}

a:hover {
  color: $theme-color;
}

hr {
  height: 1px;
  border: none;
  border-top: 1px solid #d0d0d0;
}

.row > hr {
  height: auto !important;
  border: none;
  border-left: 1px solid #d0d0d0;
}

.center {
  text-align: center;
}

.m8 {
  margin: 8px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.ml8 {
  margin-left: 8px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.ml16 {
  margin-left: 16px !important;
}

.m16 {
  margin: 16px !important;
}

.mtb16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.pbt8 {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

.pbt16 {
  padding-bottom: 16px !important;
  padding-top: 16px !important;
}

.p16 {
  padding: 16px !important;
}

.plr32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.p8 {
  padding: 8px !important;
}

.pb16 {
  padding-bottom: 16px !important;
}

.ptb8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.ptb16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.ptb32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.plr16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.row {
  display: flex;
}

.gray, .gray:hover {
  color: #828a92;
}

.ctn {
  width: $full;
  margin: $no;
  padding: $no;
}

.ctn-main {
  width: 820px;
  margin: 0;
}

.ctn-center {
  margin: 0 auto;
}

.ctn-side {
  width: 320px;
  margin-left: auto;
}

.ctn1170 {
  width: $max-width;
  margin: $center-margin;
}

.ctn660 {
  width: 660px;
  margin: $center-margin;
}

// Nav
@import "layouts/nav";

// Footer
@import "layouts/footer";

// Home
@import "home";

// Write
@import "write";

// Detail
@import "detail";

// Sidebar
@import "sidebar";

// Component
@import "component";

.action {
  color: $theme-color !important;
}

.category {
  background-color: #fff;
  box-shadow: #bbbbbb 1px 1px 4px;
  font-size: .9rem;
  clear: both;
  span {
    color: #666 !important;
    padding: 0 16px;
  }
}

// Comment
@import "comment";

.relative {
  position: relative;
}

.right-mg {
  margin-left: auto;
}

.bg-gray {
  background: #f0f0f0;
}

.bg-white {
  background: #ffffff;
}

// Login
@import "login";